@page
@model OamCake.Web.Pages.Admin.Inventory.Output.ListModel
@{
    ViewData["Page"] = "Listado de Salidas";
    ViewData[nameof(PageTypes)] = PageTypes.OutputList;
}

<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="/admin/inventory/output/add">Nuevo</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Salidas <span>| productos</span></h5>
                    <div class="input-group mb-3 d-flex justify-content-end">
                        <form class="d-flex justify-content-end" method="get" asp-page-handler="OnGet">
                            <input type="text" class="form-control" asp-for="Search" placeholder="Buscar por nombre">
                            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var output in Model.OutputTable.Data)
                            {
                                <tr>
                                    <td scope="row">@output.ProductCode</td>
                                    <td>@output.ProductName</td>
                                    <td>@output.ProductDescription</td>
                                    <td>@output.Date.ToString("dd/MM/yyyyy")</td>
                                    <td style="background-color: #ff8c66">@output.Quantity</td>
                                    <td>
                                        <partial name="_DeleteForm" model="@output.Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-sm justify-content-end">
                                            @for (var i = 0; i < Model.OutputTable.CalcPage(20); i++)
                                            {
                                                <li class="page-item @(i == Model.Pages ? "active": "")" aria-current="page">
                                                    <a class="page-link" href="/admin/inventory/output/list?pages=@i&Search=@Model.Search">@(i+1)</a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
        </div><!-- End Recent Sales -->
    </div>
</section>