@{
    var i = 0;

}
<form method="post">
    <div class="row table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th></th>
                    <th>
                        Libra
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                @foreach (var product in Model.Stock)
                {
                    <tr>
                        <th>
                            @product.Name
                            <input type="hidden" name='CreateStock[@i].ProductId' value="@product.Id" />
                        </th>
                        <td style="text-align:">
                            @if (Model.Flow == Flow.Input)
                            {
                                <label style="border-bottom: solid;width:100px" class="form-control">@product.InStock  +</label>
                            }
                            else
                            {
                                <label style="border-bottom: solid;width:100px" class="form-control">@product.InStock  -</label>
                            }
                        </td>
                        <td >
                            <input type="hidden" name='CreateStock[@i].OldQuantity' value="@product.InStock" style="width:100px"/>
                            <input style="border-bottom: solid;width:100px" type="number" name='CreateStock[@i].Quantity' placeholder='Cantidad' value="0" class="form-control" />
                        </td>
                    </tr>
                    i = i + 1;
                }
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary pull-left" type="submit"><i class='bx bx-save'></i> Guardar</button>
</form>